body {
  background-color: lightblue;
  font-family: Arial;
}

h1 {
  color: darkblue;
}

p {
  color: white;
  font-size: 20px;
}
.cool-btn {
  background: linear-gradient(45deg, #ff0080, #ff8c00);
  border: none;
  padding: 15px 30px;
  font-size: 20px;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 0 10px #ff0080;
  animation: float 2s infinite ease-in-out;
}

/* Hover effect (when mouse points at button) */
.cool-btn:hover {
  transform: scale(1.15) rotate(3deg);
  box-shadow: 0 0 25px #ff0080;
}

/* Floating animation */
@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(0px);
  }
}
